<body>
<form action="/get_content" method=post>
 <select rel="Language: " name="lan" id="lan">
  <option data-abbreviation="All" class="languageFilterItem" value="0" style="background-color: transparent;"> All </option>
  <option data-abbreviation="AF" class="languageFilterItem" value="38" style="background-color: transparent;"> Afrikaans </option>
  <option data-abbreviation="AR" class="languageFilterItem" value="24" style="background-color: transparent;"> Arabic </option>
  <option data-abbreviation="BG" class="languageFilterItem" value="28" style="background-color: transparent;"> Bulgarian </option>
  <option data-abbreviation="CA" class="languageFilterItem" value="34" style="background-color: transparent;"> Catalan </option>
  <option data-abbreviation="ZH" class="languageFilterItem" value="11" style="background-color: transparent;"> Chinese (SM) </option>
  <option data-abbreviation="ZH" class="languageFilterItem" value="60" style="background-color: transparent;"> Chinese (TR) </option>
  <option data-abbreviation="HR" class="languageFilterItem" value="48" style="background-color: transparent;"> Croatian </option>
  <option data-abbreviation="CS" class="languageFilterItem" value="20" style="background-color: transparent;"> Czech </option>
  <option data-abbreviation="DA" class="languageFilterItem" value="13" style="background-color: transparent;"> Danish </option>
  <option data-abbreviation="NL" class="languageFilterItem" value="6" style="background-color: transparent;"> Dutch </option>
  <option data-abbreviation="EN" class="languageFilterItem" value="1" style="background-color: transparent;"> English </option>
  <option data-abbreviation="EN" class="languageFilterItem" value="53" style="background-color: transparent;"> English (AU) </option>
  <option data-abbreviation="EN" class="languageFilterItem" value="52" style="background-color: transparent;"> English (UK) </option>
  <option data-abbreviation="ET" class="languageFilterItem" value="39" style="background-color: transparent;"> Estonian </option>
  <option data-abbreviation="BA" class="languageFilterItem" value="32" style="background-color: transparent;"> Euskara </option>
  <option data-abbreviation="PH" class="languageFilterItem" value="33" style="background-color: transparent;"> Filipino </option>
  <option data-abbreviation="FI" class="languageFilterItem" value="26" style="background-color: transparent;"> Finnish </option>
  <option data-abbreviation="FR" class="languageFilterItem" value="4" style="background-color: transparent;"> French </option>
  <option data-abbreviation="GL" class="languageFilterItem" value="50" style="background-color: transparent;"> Galego </option>
  <option data-abbreviation="DE" class="languageFilterItem" value="5" style="background-color: transparent;"> German </option>
  <option data-abbreviation="EL" class="languageFilterItem" value="17" style="background-color: transparent;"> Greek </option>
  <option data-abbreviation="HE" selected="selected" class="languageFilterItem" value="2" style="background-color: transparent;"> Hebrew </option>
  <option data-abbreviation="Hi" class="languageFilterItem" value="37" style="background-color: transparent;"> Hindi </option>
  <option data-abbreviation="HU" class="languageFilterItem" value="16" style="background-color: transparent;"> Hungarian </option>
  <option data-abbreviation="ID" class="languageFilterItem" value="12" style="background-color: transparent;"> Indonesian </option>
  <option data-abbreviation="IT" class="languageFilterItem" value="7" style="background-color: transparent;"> Italian </option>
  <option data-abbreviation="JA" class="languageFilterItem" value="8" style="background-color: transparent;"> Japanese </option>
  <option data-abbreviation="KO" class="languageFilterItem" value="18" style="background-color: transparent;"> Korean </option>
  <option data-abbreviation="LV" class="languageFilterItem" value="56" style="background-color: transparent;"> Latvian </option>
  <option data-abbreviation="LT" class="languageFilterItem" value="45" style="background-color: transparent;"> Lithuanian </option>
  <option data-abbreviation="MS" class="languageFilterItem" value="31" style="background-color: transparent;"> Malay </option>
  <option data-abbreviation="DV" class="languageFilterItem" value="57" style="background-color: transparent;"> Maldivian </option>
  <option data-abbreviation="NO" class="languageFilterItem" value="27" style="background-color: transparent;"> Norwegian </option>
  <option data-abbreviation="FA" class="languageFilterItem" value="21" style="background-color: transparent;"> Persian </option>
  <option data-abbreviation="PL" class="languageFilterItem" value="25" style="background-color: transparent;"> Polish </option>
  <option data-abbreviation="PT" class="languageFilterItem" value="9" style="background-color: transparent;"> Portuguese </option>
  <option data-abbreviation="RO" class="languageFilterItem" value="19" style="background-color: transparent;"> Romanian </option>
  <option data-abbreviation="RU" class="languageFilterItem" value="10" style="background-color: transparent;"> Russian </option>
  <option data-abbreviation="SK" class="languageFilterItem" value="29" style="background-color: transparent;"> Slovak </option>
  <option data-abbreviation="SL" class="languageFilterItem" value="58" style="background-color: transparent;"> Slovenian </option>
  <option data-abbreviation="ES" class="languageFilterItem" value="3" style="background-color: transparent;"> Spanish </option>
  <option data-abbreviation="SW" class="languageFilterItem" value="30" style="background-color: transparent;"> Swahili </option>
  <option data-abbreviation="SV" class="languageFilterItem" value="22" style="background-color: transparent;"> Swedish </option>
  <option data-abbreviation="TA" class="languageFilterItem" value="49" style="background-color: transparent;"> Tamil </option>
  <option data-abbreviation="TE" class="languageFilterItem" value="46" style="background-color: transparent;"> Telugu </option>
  <option data-abbreviation="TH" class="languageFilterItem" value="15" style="background-color: transparent;"> Thai </option>
  <option data-abbreviation="TR" class="languageFilterItem" value="23" style="background-color: transparent;"> Turkish </option>
  <option data-abbreviation="UK" class="languageFilterItem" value="59" style="background-color: transparent;"> Ukranian </option>
  <option data-abbreviation="VI" class="languageFilterItem" value="14" style="background-color: transparent;"> Vietnamese </option>
  <option data-abbreviation="CY" class="languageFilterItem" value="55" style="background-color: transparent;"> Welsh </option>
 </select>
 
 <select rel="Age: " name="age" id="age">
  <option class="ageFilterItem" selected="selected" value="2" style="background-color: transparent;">Ages: 2-3</option>
  <option class="ageFilterItem" value="3" style="background-color: transparent;">Ages: 3-4</option>
  <option class="ageFilterItem" value="4" style="background-color: transparent;">Ages: 4-5</option>
  <option class="ageFilterItem" value="5" style="background-color: transparent;">Ages: 5-6</option>
  <option class="ageFilterItem" value="6" style="background-color: transparent;">Ages: 6-7</option>
  <option class="ageFilterItem" value="7" style="background-color: transparent;">Ages: 7-8</option>
  <option class="ageFilterItem" value="8" style="background-color: transparent;">Ages: 8-9</option>
  <option class="ageFilterItem" value="9" style="background-color: transparent;">Ages: 9-10</option>
  <option class="ageFilterItem" value="10" style="background-color: transparent;">Ages: 10-11</option>
  <option class="ageFilterItem" value="11" style="background-color: transparent;">Ages: 11-12</option>
  <option class="ageFilterItem" value="12" style="background-color: transparent;">Ages: 12-13</option>
  <option class="ageFilterItem" value="13" style="background-color: transparent;">Ages: 13-14</option>
  <option class="ageFilterItem" value="14" style="background-color: transparent;">Ages: 14+</option>
  <option class="ageFilterItem" value="0" style="background-color: transparent;"> All Ages</option>
 </select>
 
 <select name="cat" id="cat">
  <option value="all">All Categories</option>
  <option value="104"> Language Studies</option>
  <option value="8"> Math</option>
  <option value="105"> English</option>
  <option value="34"> Nature</option>
  <option value="7"> Foreign Languages</option>
  <option value="132"> Music &amp; Arts</option>
  <option value="17"> Social Skills</option>
  <option value="433"> Therapy</option>
  <option value="45"> Holidays</option>
  <option value="4"> Social Studies</option>
  <option value="14"> Science</option>
  <option value="10"> Just for fun</option>
  <option value="12"> Tinypedia</option>
  <option value="451"> Videos</option>
  <option value="5"> Stories</option>
  <option value="74"> Speciality</option>
  <option value="13"> Assessment</option>
  <option value="1"> General</option>
  <option value="97"> Trivia</option>
  <option value="504"> Non-Verbal</option>
  <option value="508"> Early Childhood</option>
 </select>
 <input type=submit>
</form>

